body{
    background-color: bisque;
    background-image: url("../images/beetle.jpg");
}

.selector{
    width: 100px;
    padding: 10px 10px;
    margin: 5px;
    border-radius: 12px;
    float: left;
    color:white;
    background-color: blue;
    cursor: pointer;
}

#newtopic{
    border: solid black;
    width: 200px;
    padding: 5px;
}

h1{
    color:red;
}

h2{
    margin-top: 10px;
    color: red;
}
